[Desktop Entry]
Name=Snipping Tool
Comment=Windows-style Screenshot and Snipping Tool
Exec=win-snipping-tool
Icon=camera-photo-symbolic
Terminal=false
Type=Application
Categories=Utility;Graphics;
Keywords=screenshot;snip;capture;snipping;
Actions=Editor;

[Desktop Action Editor]
Name=Open Editor
Exec=win-snipping-tool --editor
